
<?php
$_customerId = Mage::getSingleton('customer/session')->getCustomerId();
$lastOrderId = Mage::getSingleton('checkout/session')->getLastOrderId();
$order = Mage::getSingleton('sales/order');
$order->load($lastOrderId);
$_totalData =$order->getData();
$_sub = $_totalData['subtotal'];
?>


<!-- <webgains tracking code> -->
<?php

$scheme = Mage::app()->getRequest()->getScheme();
$products = array();
foreach ($order->getAllVisibleItems() as $item) {
$products[] = $item->getSku();
}

$items_formated = array();
$items = $order->getAllItems();
foreach( $items as $item ){
    $items_formated[] = '24873'.'::'.(float)$item->getPriceInclTax().'::'.$item->getName().'::'.$item->getSku().'::';
}

$params = array(
'wgver'             => '1.2',
'wgsubdomain'       => 'track',
'wglang'            => Mage::app()->getLocale()->getLocaleCode(),
'wgslang'           => 'php',
'wgprogramid'       => '13353',
'wgeventid'         => '24873',
'wgvalue'           => $order->getGrandTotal(),
'wgorderreference'  => $this->getOrderId(), // $order->getIncrementId(),
'wgcomment'         => '',
'wgmultiple'        => '1',
'wgitems'           => rawurlencode(implode('|',$items_formated)), // rawurlencode(implode('|', $products)),
'wgcustomerid'      => '', // please do not use without contacting us first
'wgproductid'       => '', // please do not use without contacting us first
'wgvouchercode'     => '',
);

$params = array_merge($params,array(
'wgchecksum'        => md5('6063' . http_build_query($params)),
'wgrs'              => '1',
'wgprotocol'        => $scheme,
'wgcurrency'        => $order->getOrderCurrency()->getCurrencyCode(),
));

$html = '<div style="width:1px; height:1px; overflow:hidden; position: absolute;">
    <img src="'. $scheme .'://'. $params['wgsubdomain'] .'.webgains.com/transaction.html?'. http_build_query($params) .'" width="1" height="1" />
</div>';

echo $html;
//print_r($items_formated);
?>
<!-- </webgains tracking code> -->